@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  body{
    background-image: url(../Images/duane-mendes-KlR6vX1R0fQ-unsplash.jpg);
    background-position: 100%;
    background-repeat:no-repeat;
    background-size: cover;
  }





header{
    background: rgba(0, 0, 0, 0.63);
    backdrop-filter: blur(10px);
    height: 90px;
    width: 100vw;
    position:fixed;

}

#Logo{
    position: absolute;
width: 101px;
height: 87px;
left: 13px;
top: -3px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 72px;
line-height: 87px;

color: #ffffff;

/* border: 2px solid rgba(255, 255, 255, 0.8); */
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.42);
text-decoration: none;



}

#Buttons{
    display: flex;
    justify-content:right;
    padding-top: 30px;
    padding-right: 20px;
    font-size: 1.5rem;
    
    
}

#Buttons #menu{
    text-decoration: none;
    padding-right: 20px;
    color: white;
    
}

#Buttons #facebookIcon{
    font-size: 20px;
    color: steelblue;
    padding-left: 15px; 
}

#Buttons #instagramIcon{
    font-size: 20px;
    padding-left: 20px;
    padding-right: 15px;

}

#Buttons #Order{
    text-decoration: none;
    color: white;
}

#Center #one{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    /* align-items: center; */
    padding: 13vh;
   
    /* font-size: auto; */

    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 400;
    font-size: 13vh;
    line-height: 116px;

    color: #FFFFFF;
    
}



.Hours #hours{
    text-align: center;
    padding: 7vh;
    
    
    font-size: 3em;
    color: #FFFFFF;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.24) 20.04%, rgba(0, 0, 0, 0.23) 100%);
    
   
}

#reviews{
    color: white;
    text-align: center;
    font-size: 1rem;
    
    padding-bottom: 50px;
    font-size: 36px;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.42);
    
    
    
    /* padding-bottom: 2vh; */
}

#review #spot{
    justify-content: center;
    /* padding: 100px; */
    background-color: rgba(0, 0, 0, 0.22);
    
    
    
    
    
}

#reviewHead #reviewHeader{
    color: #FFFFFF;
    text-align: center;
    font-size: 4em;
    padding-top: 40px;
    
    background-color:rgba(0, 0, 0, 0.12)
}



#reviews:hover{
    cursor: pointer;
}

.Hours:hover{
    cursor:default
}


#ourstory #storyHeader{
    color:white;
    font-size: 10vh;
    text-align: center;
    padding: 50px;
}

#ourstory{
    text-align: center;
    
    
}

#ourstory #story{
    color: #FFFFFF;
    padding: 25px;
    background:rgba(0, 0, 0, 0.42);
    font-size: 1.5em;
    padding-bottom: 15px;
}

#ourstory #thankyou{
    font-weight: bolder;
    font-size: 32px;
}

#footer{
    background-color: rgba(0, 0, 0, 0.43);
    backdrop-filter: blur(10px);
    color: #ffffff;
    width: 100%;
    size: 16px;
   
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}
#Location{
    background-color: rgba(0, 0, 0, 0.42);
}
#Location h2 {
    
    font-size: 10vh;
    text-align: center;
    color: #FFFFFF;
}

#Location p{
    text-align: center;
    color: #FFFFFF;
    font-size: 2.5vh;
}

#Location a{
    color: #FFFFFF;
    gap: 10px;
}




@media screen and (max-width: 800px) {
    #Center #one {
    display: inline;
    font-size: 10vh;
    
    }
  
    body{
        flex: 100%;
    }

   
    
}

footer {
    background-color: yellow;
}