@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-image: url(../Images/clarissa-carbungco-uy9DJw9e_vs-unsplash.jpg);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
header {
  background-color:rgba(93, 90, 90, 0.22);
  height: 80px;
  position: sticky;
}
#Logo {
  position: absolute;
  width: 101px;
  height: 87px;
  left: 13px;
  top: -3px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 87px;
  color: #ffffff;
  /* border: 2px solid rgba(255, 255, 255, 0.8); */
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.42);
  text-decoration: none;
}
#Buttons {
  display: flex;
  justify-content: right;
  padding-top: 30px;
  padding-right: 20px;
}
#Buttons #menu {
  text-decoration: none;
  padding-right: 20px;
  color: white;
}
#Buttons #Order {
  text-decoration: none;
  color: white;
}

#Buttons #facebookIcon{
  font-size: 20px;
  color: steelblue;
  padding-left: 15px; 
}

#Buttons #instagramIcon{
  font-size: 20px;
  padding-left: 20px;
  padding-right: 15px;

}
#Title #H1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 15vh;
  font-size: 2rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 350;
  line-height: 100px;
  color: #ffffff;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.57);
}
#Item {
  color: #ffffff;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.57);
  display: inline-block;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 250px;
  padding-bottom: 4vh;
  font-size: 1em;
}
#Item label {
  display: block;
}
#Payment {
  color: #ffffff;
  display: inline-block;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 405px;
  padding-bottom: 4vh;
  font-size: 1em;
}
#Payment #Pay1 {
  display: block;
  padding-left: 257px;
  font-size: 2rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 350;
  line-height: 100px;
  color: #ffffff;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.57);
}
#Payment label {
  display: block;
}
#Sub {
  padding-left: 685px;
  padding-bottom: 3vh;
}

/* HELLO */